[user] 
  name = Nick Meldrum
   #email = nick.meldrum@scribestar.com
  email = nick@nickmeldrum.com
[alias]
  st = status
  cm = commit -v -m
  ad = add -A
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  files = "!f() { git diff --name-status $1^!; }; f"
[branch]
  #autosetuprebase = always         
[pull]
  #rebase = true
[diff]
	tool = bc3
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[merge]
	tool = bc3
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[push]
	default = simple
[credential]
	helper = !'D:\\nickmeldrum\\gitcredentialstore\\git-credential-winstore\\bin\\Debug\\git-credential-winstore.exe'
	
