[user] 
  name = Nick Meldrum
   #email = nick.meldrum@scribestar.com
  email = nick@nickmeldrum.com
[alias]
  st = status
  cm = commit -v -m
  ad = add -A
  br = branch
  unstage = reset HEAD --
  last = log -1 HEAD
  files = "!f() { git diff --name-status $1^!; }; f"
[branch]
  #autosetuprebase = always         
[pull]
  #rebase = true
    rebase = false
[diff]
	tool = bc3
[difftool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[merge]
	tool = fugitive
[mergetool "bc3"]
	path = c:/Program Files (x86)/Beyond Compare 3/bcomp.exe
[push]
	default = simple
[credential]
	
[core]
	longpaths = true
	autocrlf = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
[credential]
	helper = !'D:\\nickmeldrum\\gitcredentialstore\\git-credential-winstore\\bin\\Debug\\git-credential-winstore.exe'
[mergetool "fugitive"]
	cmd = gvim -f -c Gvdiff $MERGED
